
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Account.cshtml";
}
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="~/Content/jsapi.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.min.js" integrity="sha512-bztGAvCE/3+a1Oh0gUro7BHukf6v7zpzrAb3ReWAVrt+bVNNphcl2tDTKCBr5zk7iEDmQ2Bv401fX3jeVXGIcA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.js" integrity="sha512-4WpSQe8XU6Djt8IPJMGD9Xx9KuYsVCEeitZfMhPi8xdYlVA5hzRitm0Nt1g2AZFS136s29Nq4E4NVvouVAVrBw==" crossorigin="anonymous"></script>

<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">

        <div class="card login-card">
            <div class="row no-gutters">

                <div class="col-md-5 card-body1">
                    <div class="">

                        <p class="login-card-description" style="color:white">Sign in as director</p>
                        <form action="~/Home/SuperLogin" method="post">
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" name="Email" id="Email" class="form-control" value="manitsoni369@gmail.com" placeholder="Email address">
                            </div>
                            <div class="form-group mb-4">
                                <label for="password" class="sr-only">Password</label>
                                <input type="password" name="Password" id="Password" class="form-control" value="123456" placeholder="***********">
                            </div>
                            <input name="login" id="login" class="btn btn-block login-btn1" type="submit" value="Login">
                        </form>

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <p class="login-card-description">ERP-Login</p>
                        <form action="~/Home/Login" method="post">
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" name="Email" id="Email" class="form-control" placeholder="Email address">
                            </div>
                            <div class="form-group mb-4">
                                <label for="password" class="sr-only">Password</label>
                                <input type="password" name="Password" id="Password" class="form-control" placeholder="***********">
                            </div>
                            <div class="form-group mb-4">
                                <label for="password" class="sr-only">Select Role</label>
                                <select class="form-control-plaintext" name="type" id="type">
                                    <option value="0">Select Role</option>
                                    <option value="1">HR</option>
                                    <option value="2">Employee</option>
                                </select>
                            </div>
                            <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Login">
                        </form>
                        <a href="#!" class="forgot-password-link" data-toggle="modal" data-target="#exampleModal">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Forgot Password?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Enter Email</label>
                <input type="email" class="form-control" name="ChkEmail" value="" placeholder="Email" id="ChkEmail" onkeypress="CheckEmail()" />
                <p id="Confirmation"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                <button type="button" id="btnSend" class="btn btn-primary" disabled onclick="SendEmail()">Send</button>
            </div>
        </div>
    </div>
</div>
<div id="loading">
    <img id="loading-image" src="~/Content/spinner/Spinner-3.gif" alt="Loading..." />
</div>
<style>
    #loading {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: block;
        opacity: 0.7;
        background-color: #fff;
        z-index: 105;
        text-align: center;
    }

    #loading-image {
        position: absolute;
        top: 350px;
        left: 750px;
        z-index: 100;
        width: 50px;
        height: 50px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        $("#loading").hide();
        var message = '@TempData["msg"]';
        if (message == "") {

        } else {
            swal({
                title: "Failure!",
                text: message
            });
        }

    });
    function CheckEmail() {

        $.ajax({
            url: '@Url.Action("CheckEmail","AppHelper")',
            type: 'GET',
            dataType: 'json',
            data: { Email: document.getElementById('ChkEmail').value },
            success: function (result) {
                debugger
                if (result == true) {
                    $("#Confirmation").css({ "color": "green" });
                    $("#btnSend").removeAttr("disabled");
                    document.getElementById('Confirmation').innerHTML = "Email Verified!";
                }
                else {
                    $("#btnSend").attr("disabled","disabled");
                    $("#Confirmation").css({ "color": "red" });
                    document.getElementById('Confirmation').innerHTML = "Invalid Email!";
                }

            },
            error: function (error) {
                alert(error.responseText);
            }
        })
   }
    function SendEmail() {
        $("#loading").show();
        $.ajax({
            url: '@Url.Action("Email","Home")',
            type: 'GET',
            dataType: 'json',
            data: { Email: $("#ChkEmail").val() },
            success: function (result) {
                $("#loading").hide();
                $("#exampleModal").modal('hide');
                $("#ChkEmail").val("");
                swal({
                    title: "Success!",
                    text: "Email Sent Success"
                });
            }, error: function (error) {
                $("#loading").hide();
                alert(error.responseText);
            }
        });
    }
</script>
